* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  height: 97vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: orange;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  height: 10vh;
  border-bottom: 1px solid orange;
}
header button {
  height: 2rem;
  width: 7rem;
  padding: 5px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.523);
  color: orange;
  background-color: rgba(128, 128, 128, 0.185);
  cursor: pointer;
  transition: 0.8s;
}
button:hover {
  background-color: rgba(255, 166, 0, 0.505);
  color: white;
}
.One {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65vh;
  justify-content: space-between;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  gap: 3rem;
}
.container h1 {
  text-align: start;
}

.container p {
  font-size: 1.2rem;
  width: 30rem;
}
.One img {
  width: 50%;
}
footer {
  height: 10vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#modal {
  position: fixed;
  margin: auto;
  height: 103vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.626);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.modal-all {
  margin: auto;
  margin-top: 15rem;
  box-shadow: 1px 1px 5px orange;
  display: flex;
  background-color: white;
  width: 20rem;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 10rem;
}
form select,
input,
button,
textarea {
  width: 15rem;
  border: none;
  padding: 10px;
  box-shadow: 1px 1px 5px orange;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.8s;
}

form textarea {
  padding: 10px;
  width: 15rem;
}
#btnClose {
  cursor: pointer;
  position: relative;
  right: -14rem;
  top: -11rem;
  color: orange;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    forwards;
  animation: slide-bottom 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@-webkit-keyframes slide-bottom {
  0% {
    transform: translateY(50%);
  }
  50% {
    transform: translateY(0);
  }
}
